<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body>
        <h1><%= title %></h1>
        <form class="delete-form" method="POST" action="/delete/<%= message._id %>">
            <div class='input-wrap'>
                <span>Message to delete: "<%= message.text %>"</span>
                <input type="text" name="text" placeholder="Type 'YES' if you want to delete this message" required />
            </div>
            <button type="submit"><i class="fa fa-trash fa-2xl"></i></i></button>
        </form>
        <script src="https://kit.fontawesome.com/a0cabf7a73.js" crossorigin="anonymous"></script>
    </body>
</html>