<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body>
        <h1><%= title %></h1>
        <div class='main-container'>
            <%- include('partials/board.ejs') %>
            <%- include('partials/rooms.ejs') %>
        </div>
        <script src='https://kit.fontawesome.com/a0cabf7a73.js' crossorigin='anonymous'></script>
    </body>
</html>