<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body>
        <h1><%= title %></h1>
        <form method="POST" action="/auth/login">
            <div class='input-group'>
                <label for="username">Username</label>
                <input type="text" name="username" maxlength="15" required />
                <label for="password">Password</label>
                <input type="password" name="password" required />
            </div>
            <button type="submit">Login</button>
        </form>
    </body>
</html>