<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body>
        <h1><%= title %></h1>
        <form method="POST" action="/auth/register">
            <div class='input-wrap'>
                <input type="text" name="username" placeholder="Username" maxlength="15" required />
                <input type="password" name="password" placeholder="Password" required />
            </div>
            <button type="submit">Register</button>
        </form>
    </body>
</html>