<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <h1><%= title %></h1>
        <form class="edit-form" method="POST" action="/edit/<%= message._id %>">
            <div class='input-wrap'>
                <span>Current message: "<%= message.text %>"</span>
                <input type="text" name="text" placeholder="New Message" maxlength="250" required />
            </div>
            <button type="submit"><i class="fa-solid fa-pencil fa-2xl"></i></button>
        </form>
        <script src="https://kit.fontawesome.com/a0cabf7a73.js" crossorigin="anonymous"></script>
    </body>
</html>