h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    height: 100%;
}

input[type='text'] {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 50%;
    font-size: 1.2rem;
}

button {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 0 1.5rem;
}

.board {
    height: 85vh;
    width: 85%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-header {
    height: 5vh;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
}

.header-info {
    margin-top: 10px;
    padding-left: 10px;
}

.header-info span {
    float: right;
    padding-right: 10px;
}

.messages {
    height: 70vh;
    flex-grow: 1;
    overflow-x: auto;
    font-size: 1.2rem;
}

.message {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 10px;
}

.message-user {
    font-weight: bold;
}

.message-date {
    text-align: end;
}

.message-text {
    width: fit-content;
    padding: 2px;
    margin-top: 5px;
    background-color: aqua;
    border-radius: 5px;
    grid-column: 1 / -1;
    word-wrap: break-word;
}

.board-footer {
    height: 10vh;
    border-radius: 0 0 10px 10px;
    font-size: 1.2rem;
}

.input-group {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media screen and (min-width: 1000px) { /* Desktop */
    .board {
        width: 50%;
    }
}