h1 {
    text-align: center;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.input-wrap span {
    height: 100%;
    white-space: wrap;
    overflow: hidden;
}

input {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 100%;
}

button[type=submit] {
    background-color: white;
    border-radius: 10px;
    padding: 0 1.5rem;
    margin-right: 2px;
}

.login-register {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.login-form, .register-form {
    padding: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
}

.login-form, .register-form, .message-form, .rooms-form, .edit-form, .delete-form {
    display: flex;
    height: 100%;
}

@media screen and (min-width: 1000px) { /* Desktop */
    h1 {
        margin: 20px 0;
    }

    .main-container {
        flex-direction: row;
    }
}