h1 {
    text-align: center;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.rooms {
    height: 35vh;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-top: none;
    border-radius: 10px;
}

.rooms-header {
    height: 5vh;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rooms-list {
    height: 20vh;
}

.rooms-footer {
    height: 10vh;
    border-radius: 0 0 10px 10px;
}

.board {
    height: 85vh;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-top: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-header {
    height: 5vh;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

.board-header span {
    flex-grow: 1;
    text-align: center;
}

.messages {
    height: 70vh;
    flex-grow: 1;
    overflow-x: auto;
}

.message {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    margin: 0 0.5vh 1.5vh 0.5vh;
}

.message-user {
    font-weight: bold;
}

.message-date {
    text-align: end;
}

.message-text {
    width: fit-content;
    padding: 2px;
    background-color: black;
    color: white;
    border-radius: 5px;
    grid-column: 1 / -1;
    word-wrap: break-word;
}

.message-text-active {
    background-color: #FFFF00;
    color: black;
    grid-column: 2;
    justify-self: end;
}

.edit-delete-links {
    text-align: center;
    grid-column: 1 / -1;
}

.board-footer {
    height: 10vh;
    border-radius: 0 0 10px 10px;
}

.input-wrap {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.input-wrap span {
    height: 100%;
    white-space: wrap;
    overflow: hidden;
}

input {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 100%;
}

button[type=submit] {
    background-color: white;
    border-radius: 10px;
    padding: 0 1.5rem;
    margin-right: 2px;
}

.login-register {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.login-form, .register-form {
    padding: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
}

.login-form, .register-form, .message-form, .rooms-form, .edit-form, .delete-form {
    display: flex;
    height: 100%;
}

@media screen and (min-width: 1000px) { /* Desktop */
    h1 {
        margin: 20px 0;
    }

    .main-container {
        flex-direction: row;
    }

    .rooms {
        width: 15%;
        height: 85vh;
    }
    
    .rooms-list {
        height: 70vh;
        overflow-x: auto;
    }
    
    .board {
        font-size: 1.2rem;
        width: 50%;
    }
}